body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    border: 1px solid rgba(25, 118, 210, 0.5);
    max-width: fit-content;
    margin-top: 3em;
    padding: 2em;
    border-radius: 3px;
}

.headline-text {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: rgba(30, 129, 228, 0.5);
}

.add-btn {
   height: 56px;
}
